<div class="form-main signup">
  <div class="form-wrapper">
    <h1 class='form-title'>アカウントサクセイ</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-item">
        <%= f.label :nickname %> <em>(6文字以内)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" ,placeholder: 'ニックネーム'%>
      </div>

      <div class="form-item">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'メール' %>
      </div>

      <div class="form-item">
        <%= f.password_field :password, autocomplete: "new-password",placeholder: 'パスワード' %>
      </div>

      <div class="form-item">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワードカクニン' %>
      </div>

      <div class="button-panel">
        <%= f.submit "サクセイ", class: 'button' %>
      </div>
    <% end %>
    <div class="form-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
