<div class="show_follow">
  	<nav class="navbar navbar-default head">
    	<div class="container-fluid">
      		<div class="navbar-header">
        		<a class="navbar-brand" href="/">
          			<%= image_tag "logo.png", size: "60x60", class: "logo" %>
        		</a>
				<div class="name-in">
					<div class="name">
						<%= @user.nickname%>さんのフォロワーリスト
					</div>
				</div>
        	</div>
    	</div>
  	</nav>
	<% @user.followers.each do |user| %>
  		<div class="col-xs-6 col-md-3">
    		<div class="thumbnail u-ime">
      			<%= image_tag user.avatar,class: "icon"%>
				<div class="caption">
					<h3><%= user.nickname %>さん</h3>
					<h5 class="member">フォロー：<%= user.followings.count %></h5>
					<h5 class="member">フォロワー：<%= user.followers.count %></h5>
					<h3 class="clear"><%= link_to '詳細', user_path(user), class: "btn btns"%></h3>
				</div>
			</div>
  		</div>
	<% end %>
</div>