<div id="show">
  <% @user ||= current_user %>
  <!-- header -->
  <nav class="navbar navbar-default">
    <div class="container-fluid header-height">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          ロゴ
        </a>
        <div class="user_info">
          <%= image_tag 'ra-mennmann.jpeg', class: 'icon'%>
          <div class="user_in">
            <div class="user_name">
              <h3 class="name"><%=@nickname%>さん</h3>
              <h4 class="ikitai">行きたい：〇〇</h4>
            </div>
            <div class="follows">
              <% @user ||= current_user %>
              <h4 class="follow"><span>フォロー数：</span>
                <a href="<%= following_user_path(@user) %>">
                  <strong id="following" class="stat">
                    <%= @user.followings.count %>人
                  </strong>
                </a>
              </h4>
              <h4 class="follower"><span>フォロワー数：</span>
                <a href="<%= followers_user_path(@user) %>">
                  <strong id="followers" class="stat">
                    <%= @user.followers.count %>人
                  </strong>
                </a>
              </h4>
            </div>
          </div>

          <%= render 'follow_form' %>

        </div>
      </div>
    </div>
  </nav>
  <!-- header -->
  <!-- contents -->
  <div class="container contents">
    <div class="row">
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn btns">行きたい！</a>
          <a href="#" class="btn btns">コメント</a>
          <a href="#" class="btn btns">マップ</a>
        </li>
      </ul>
      <!-- contents -->
      <!-- copy -->
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn btns">行きたい！</a>
          <a href="#" class="btn btns">コメント</a>
          <a href="#" class="btn btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
      <ul class="list-group my_list col-md-4 col-sm-4 col-xs-4">
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
          <%= image_tag 'jirou.png', class: 'ra-ime'%>
          <h2 class="ramen-image-title">{{ title }}</h2>
          <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
          <a href="#" class="btn   btns">行きたい！</a>
          <a href="#" class="btn   btns">コメント</a>
          <a href="#" class="btn   btns">マップ</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- copy -->
</div><!-- id='show' -->
