<% if user_signed_in? %>
    <% if post.user_liked?(current_user.id) %>
        <%= link_to noodle_like_path(noodle_id: post.id, id: current_user.id), method: :delete, id: "like-button" do %>
            <%= fa_icon 'heart', class: "red-heart btn"%>
        <% end %>
        <span><%= post.likes_count %>件のいいね</span>
    <% else %>
        <%= link_to noodle_likes_path(noodle_id: post.id), method: :post, id: "like-button" do %>
            <%= fa_icon 'heart', class: "btn btns" %>
        <% end %>
        <span><%= post.likes_count %>件のいいね</span>
    <% end %>
<% else %>
    <%= fa_icon 'heart', class: "btn btns" %>
    <span><%= post.likes_count %>件のいいね</span>
<% end %>