<ul class="list-group">
    <li class="list-group-item" id="list1">
        <% if user_signed_in?%>
            <%= link_to user_path(id: post.user.id) do%>
                <%= image_tag post.user.avatar,:class => "icon", :size => "50x50"%>
                <%= post.user.nickname %>
            <% end%>
        <% else%>
            <%= image_tag post.user.avatar,:class => "icon", :size => "50x50"%>
            <%= post.user.nickname %>
        <% end%>

    </li>
    <li class="list-group-item" id="list3">
        <% if post.impressions.include?("#") || post.impressions.include?("＃")%>
            <% hashs = post.impressions.scan(/[#＃][Ａ-Ｚａ-ｚA-Za-z一-鿆0-9０-９ぁ-ヶｦ-ﾟー]+/)%>
            <%= post.impressions.gsub!(/[#＃][Ａ-Ｚａ-ｚA-Za-z一-鿆0-9０-９ぁ-ヶｦ-ﾟー]+/, '')%>
            <% hashs.each do |hash|%>
                <% hash.sub!(/[#＃]/, '')%>
                <%= link_to "##{hash}", root_path(hashtag: hash) %>
            <% end%>
        <% else%>
            <%= post.impressions%>
        <% end%>
    </li>
    <li class="list-group-item ramen-image" id="list4">
        <%= image_tag post.image, class: 'ra-ime'%>
        <h3 class="ramen-image-genre"><%= post.genre.genre_name%></h3>
    </li>
    <li class="list-group-item" id="list5">
        <%= link_to "コメント", noodle_path(post.id), method: :get, class: "btn btns"%>
        <% if user_signed_in? && current_user.id == post.user_id %>
            <%= link_to "削除",noodle_path(id: post.id), method: :delete, class: "btn btns" %>
        <% end %>
        <%= render partial: 'shared/like_form',locals:{post: post} %>
    </li>
        
</ul>