    <ul class="list-group">
        <li class="list-group-item" id="list1">
            <%= image_tag post.user.avatar,:class => "icon", :size => "50x50"%>
            <%= post.user.nickname %>
        </li>
        <li class="list-group-item" id="list3"><%= post.impressions%></li>
        <li class="list-group-item ramen-image" id="list4">
            <%= image_tag post.image, class: 'ra-ime'%>
            <h3 class="ramen-image-genre"><%= post.genre.genre%></h3>
        </li>
        <li class="list-group-item" id="list5">
            <a href="#" class="btn btns">いいね！</a>
            <a href="#" class="btn   btns">コメント</a>
            <a href="#" class="btn   btns">マップ</a>
        </li>
    </ul>