<%= render partial: 'shared/header' %>
<div id="new" >
  <div class="content container">
    <%= form_with(model: [@noodle], url: noodles_path) do |f| %>
      <%= f.label :image, class: 'label-block' do %>
        <i class="fas fa-plus fa-3x"></i>
        <p>画像を選択</p>
        <%= f.file_field :image, class: 'hidden', "v-on:change" => "handlechange"%>
      <% end %>
      <div class="genre-select">
        <%= f.select :genre_id, [["豚骨",  1], ["家系",  2],["二郎",  3], ["つけ麺",  4],
               ["味噌",  5], ["醤油", 6],["塩",  7], ["タンメン",  8],["まぜそば",  9],["その他", 10]], "v-model": "ragen" %>
      </div>
      <div class="image-place">
        <div v-if="preview" class="ramen-image">
          <img v-bind:src="preview" class="new-image img-rounded"/>
        </div>
      </div>
      <label class = "form-item review-form">
        <%= f.text_area :impressions ,class: "review", placeholder: "とても美味しい〜！ #noodle屋" %>
      </label>
      <div class="btn-place">
        <%= f.submit "注文", class: "btn btn-ramen" %>
      </div>
    <% end %>
  </div>
</div>